@{
    ViewData["Title"] = "Visual Inspection - SDK Demo";
}
<h2>@ViewData["Title"]</h2>
<div class="row" id="page-container">
    <div class="col-lg-6 col-md-8 col-xs-12" id="request-samples">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#signin-form">Sign in</div>
            <div class="panel-body @(ViewBag.BearerAvailable ? " collapse" : "" )" id="signin-form">
                <form method="post" action="@Url.Action( "Login", "Home" )">
                    <div class="form-group">
                        <label for="clientId">Client ID</label>
                        <input type="text" name="clientId" id="clientId"
                               class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label for="clientSecret">Client Secret</label>
                        <input type="text" name="clientSecret" id="clientSecret"
                               class="form-control" value="" />
                    </div>
                    <button type="submit" name="loginClient" class="pull-right btn btn-primary">Get access token</button>
                </form>
            </div>
        </div>
        @if (ViewBag.BearerAvailable)
                {
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#activatelicense-form">Activate License</div>
                    <div class="panel-body @(ViewBag.Active != "activateLicense" ? " collapse" : "" )" id="activatelicense-form">
                        <form asp-controller="Home" asp-action="ActivateLicense" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>License File</label><br />
                                <input type="file" name="licenseFile" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getVersionNumber-form">Get Version Number</div>
                    <div class="panel-body @(ViewBag.Active != "getVersionNumber" ? " collapse" : "" )" id="getVersionNumber-form">
                        <form asp-controller="Home" asp-action="GetVersionNumber" method="post">
                            <button type="submit" name="getVersionNumber" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getcontext-form">Get Context Info</div>
                    <div class="panel-body @(ViewBag.Active != "getContext" ? " collapse" : "" )" id="getcontext-form">
                        <form asp-controller="Home" asp-action="GetContext" method="post">
                            <button type="submit" name="getContext" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getpredictionitems-form">Get Prediction Items</div>
                    <div class="panel-body @(ViewBag.Active != "getPredictionItems" ? " collapse" : "" )" id="getpredictionitems-form">
                        <form asp-controller="Home" asp-action="GetPredictionItems" method="post">
                            <button type="submit" name="getPredictionItems" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#gettrainingitems-form">Get Training Items</div>
                    <div class="panel-body @(ViewBag.Active != "getTrainingItems" ? " collapse" : "" )" id="gettrainingitems-form">
                        <form asp-controller="Home" asp-action="GetTrainingItems" method="post">
                            <button type="submit" name="getTrainingItems" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getalgorithms-form">Get Algorithms</div>
                    <div class="panel-body @(ViewBag.Active != "getAlgorithms" ? " collapse" : "" )" id="getalgorithms-form">
                        <form asp-controller="Home" asp-action="GetAlgorithms" method="post">
                            <button type="submit" name="getAlgorithms" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getmodels-form">Get Models</div>
                    <div class="panel-body @(ViewBag.Active != "getModels" ? " collapse" : "" )" id="getmodels-form"> 
                        <form asp-controller="Home" asp-action="GetModels" method="post">
                            <button type="submit" name="getModels" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#deletemodels-form">Delete Models</div>
                    <div class="panel-body @(ViewBag.Active != "deleteModels" ? " collapse" : "" )" id="deletemodels-form">
                        <form asp-controller="Home" asp-action="DeleteModels" method="post">
                            <div class="form-group">
                                <label for="modelIdsServe">Model ID</label>
                                <select id="modelIdsServe" name="modelIdsServe" class="form-control">
                                    @foreach (SpectroSdk.Model.Model item in ViewBag.Models)
    {
                                <option value="@item.ModelId">@item.Name</option>
}
                                </select>
                            </div>
                            <button type="submit" name="deleteModels" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#train-form">Train</div>
                    <div class="panel-body @(ViewBag.Active != "train" ? " collapse" : "" )" id="train-form">
                        <form asp-controller="Home" asp-action="Train" method="post">
                            <div class="form-group">
                                <label for="algorithmId">Algorithm</label>
                                <select id="algorithmId" name="algorithmId" class="form-control">
                                    @foreach (SpectroSdk.Model.Algorithm algo in ViewBag.Algorithms)
    {
                                <option value="@algo.AlgorithmId">@algo.Name</option>
}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="algorithmName">Name</label>
                                <input type="text" name="name" id="algorithmName"
                                       class="form-control" value="" placeholder="Model Name" />
                            </div>
                            <div class="form-group">
                                <label for="itemIds">Item IDs</label>
                                <select id="itemIds" name="itemIds" class="form-control" multiple>
                                    @foreach (SpectroSdk.Model.Item item in ViewBag.TrainingItems)
    {
                                <option value="@item.ItemId"> @item.ItemId </option>
}
                                </select>
                            </div>
                            <button type="submit" name="train" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#additem-form">Add Item</div>
                    <div class="panel-body @(ViewBag.Active != "upload" ? " collapse" : "" )" id="additem-form">
                        <form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Training Image</label><br />
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="training" value="true"> Use for training
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Label</label><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="good" id="inlineRadio1" value="true"> Good
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="good" id="inlineRadio2" value="false"> Defect
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Images</label><br/>
                                <input type="file" name="files" multiple />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getitem-form">Get Specific Item</div>
                    <div class="panel-body @(ViewBag.Active != "getItem" ? " collapse" : "" )" id="getitem-form">
                        <form asp-controller="Home" asp-action="GetItem" method="post">
                            <div class="form-group">
                                <label for="itemId">Item ID</label>
                                <select id="itemId" name="itemId" class="form-control">
                                    @foreach (SpectroSdk.Model.Item item in ViewBag.TrainingItems)
    {
                                <option value="@item.ItemId">@item.ItemId</option>
}
                                    @foreach (SpectroSdk.Model.Item item in ViewBag.PredictItems)
    {
                                <option value="@item.ItemId">@item.ItemId</option>
}
                                </select>
                            </div>
                            <button type="submit" name="getItem" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#predict-form">Predict</div>
                    <div class="panel-body @(ViewBag.Active != "predict" ? " collapse" : "" )" id="predict-form">
                        <form asp-controller="Home" asp-action="Serve" method="post">
                            <div class="form-group">
                                <label for="itemIdServe">Item ID</label>
                                <select id="itemIdServe" name="itemIdServe" class="form-control">
                                    @foreach (SpectroSdk.Model.Item item in ViewBag.PredictItems)
    {
                                <option value="@item.ItemId">@item.ItemId</option>
}
                                </select>
                                <label for="modelIdServe">Model</label>
                                <select id="modelIdServe" name="modelIdServe" class="form-control">
                                    @foreach (SpectroSdk.Model.Model item in ViewBag.Models)
    {
                                <option value="@item.ModelId">@item.Name</option>
}
                                </select>
                            </div>
                            <button type="submit" name="serve" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#addannotation-form">Add Annotation</div>
                    <div class="panel-body @(ViewBag.Active != "addAnnotation" ? " collapse" : "" )" id="addannotation-form">
                        <form asp-controller="Home" asp-action="AddAnnotation" method="post">
                            <div class="form-group">
                                <label for="imageId">Image ID</label>
                                <input type="text" name="imageId" id="imageId"
                                       class="form-control" value="" placeholder="Image ID" />
                            </div>
                            <div class="form-group">
                                <label for="xMin">X Min</label>
                                <input type="text" name="xMin" id="xMin"
                                       class="form-control" value="" placeholder="X Min" />
                            </div>
                            <div class="form-group">
                                <label for="xMax">X Max</label>
                                <input type="text" name="xMax" id="xMax"
                                       class="form-control" value="" placeholder="X Max" />
                            </div>
                            <div class="form-group">
                                <label for="yMin">Y Min</label>
                                <input type="text" name="yMin" id="yMin"
                                       class="form-control" value="" placeholder="Y Min" />
                            </div>
                            <div class="form-group">
                                <label for="yMax">Y Max</label>
                                <input type="text" name="yMax" id="yMax"
                                       class="form-control" value="" placeholder="Y Max" />
                            </div>
                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <input type="text" name="notes" id="notes"
                                       class="form-control" value="" placeholder="Notes" />
                            </div>
                            <button type="submit" name="addAnnotation" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#getworkers-form">Get Workers</div>
                    <div class="panel-body @(ViewBag.Active != "getWorkers" ? " collapse" : "" )" id="getworkers-form">
                        <form asp-controller="Home" asp-action="GetWorkers" method="post">
                            <button type="submit" name="getWorkers" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#importmodels-form">Import Models</div>
                    <div class="panel-body @(ViewBag.Active != "importModels" ? " collapse" : "" )" id="importmodels-form">
                        <form asp-controller="Home" asp-action="ImportModels" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>License File</label><br />
                                <input type="file" name="models" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#exportmodels-form">Export Models</div>
                    <div class="panel-body @(ViewBag.Active != "exportModels" ? " collapse" : "" )" id="exportmodels-form">
                        <form asp-controller="Home" asp-action="ExportModels" method="post">
                            <div class="form-group">
                                <label for="modelIdsExport">Model ID</label>
                                <select id="modelIdsExport" name="modelIdsExport" class="form-control">
                                    @foreach (SpectroSdk.Model.Model item in ViewBag.Models)
    {
                                <option value="@item.ModelId">@item.Name</option>
}
                                </select>
                            </div>
                            <button type="submit" name="exportModels" class="btn btn-primary">Try it!</button>
                        </form>
                    </div>
                </div>
                }
    </div>
    <div class="col-lg-6 col-md-4 col-xs-12" id="json-return">
        <pre class="hide hidden">@ViewData["Message"]</pre>
        <div class="json-container">
            <div>
                @ViewData["HttpResponse"]
            </div>
            </div>
            <div class="json-container">

                <div class="json">
                    @ViewData["StringMessage"]
                </div>
            </div>
        </div>
    </div>
@section Scripts {
<script>$(document).ready(function() {
        hljs.initHighlightingOnLoad();

        $("input[type=file]").fileinput();
        $('.json').each(function(i, e) {
            $(e).jsonViewer(JSON.parse($(e).text()));
        });
});</script>
}

@section Styles {
<style>
    #page-container {
        position: relative;
        height: calc(100vh - 250px);
    }

    #json-return, #request-samples {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    #json-return {
        right: 0;
    }

    #request-samples {
        left: 0;
        overflow: auto;
    }

    .json-container {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        max-height: 100%;
        overflow-y: auto;
    }

    .endpoint-container {
        padding: 10px;
        background: #e1e1e1;
        border-left: 3px solid #000000;
    }

        .endpoint-container .method {
            padding: 3px 10px;
            background: #ffffff;
            margin-right: 10px;
        }

    .request-item {
        margin-bottom: 10px;
    }
</style>
}
