---
title: Spectro v1
language_tabs:
  - shell: CURL
  - http: HTTP
toc_footers: []
includes: []
search: true
highlight_theme: darkula
headingLevel: 2

---

<!-- Generator: Widdershins v3.6.6 -->

<h1 id="spectro">Spectro v1</h1>

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

[English](t(:enLink)) | [日本語](t(:jaLink))

t(:introductionMessage)

Base URLs:

* <a href="https://sdd-api-staging.hacarus.com/">https://sdd-api-staging.hacarus.com/</a>

* <a href="https://sdd-api.hacarus.com/">https://sdd-api.hacarus.com/</a>

* <a href="https://localhost:8080/">https://localhost:8080/</a>

<%= partial "includes/initialization.html.md.erb" %>

# Authentication

- HTTP Authentication, scheme: bearer 

- oAuth2 authentication. 

    - Flow: clientCredentials

    - Token URL = [http://localhost:3000/api/auth/token](http://localhost:3000/api/auth/token)

|Scope|Scope Description|
|---|---|
|all|all scopes|

<h1 id="spectro-targets">targets</h1>

Inspection Target related operations

## <%= translate_fallback('getInspectionTargets') %>

<a id="opIdgetInspectionTargets"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/targets/ \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/targets/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/targets/`

*Get List of Inpection Targets*

<%= translate_fallback(
  'getInspectionTargetsMessage',
  <<~HEREDOC
    Get all inspection targets created by user
  HEREDOC
) %>

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "preprocessing": [
        {
          "active": true,
          "name": "string",
          "config": "string"
        }
      ],
      "name": "string",
      "target_id": 0
    }
  ]
}
```

<h3 id="getinspectiontargets-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[InspectionTargetListWrapper](#schemainspectiontargetlistwrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getInspectionTargetById') %>

<a id="opIdgetInspectionTargetById"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/targets/{target_id} \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/targets/{target_id} HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/targets/{target_id}`

*Get Inspection Target by ID*

<%= translate_fallback(
  'getInspectionTargetByIdMessage',
  <<~HEREDOC
    Get a single inspection target using the inspection target ID.
  HEREDOC
) %>

<h3 id="getinspectiontargetbyid-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|target_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "preprocessing": [
      {
        "active": true,
        "name": "string",
        "config": "string"
      }
    ],
    "name": "string",
    "target_id": 0
  }
}
```

<h3 id="getinspectiontargetbyid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[InspectionTargetWrapper](#schemainspectiontargetwrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('setInspectionTargetById') %>

<a id="opIdsetInspectionTargetById"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/targets/{target_id} \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/targets/{target_id} HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`POST /api/v1/targets/{target_id}`

*Set Default Inspection Target by ID*

<%= translate_fallback(
  'setInspectionTargetByIdMessage',
  <<~HEREDOC
    Set the default inspection target using the inspection target ID.
  HEREDOC
) %>

<h3 id="setinspectiontargetbyid-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|target_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "preprocessing": [
      {
        "active": true,
        "name": "string",
        "config": "string"
      }
    ],
    "name": "string",
    "target_id": 0
  }
}
```

<h3 id="setinspectiontargetbyid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[InspectionTargetWrapper](#schemainspectiontargetwrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getModelResults') %>

<a id="opIdgetModelResults"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/targets/model/results \
  -H 'Accept: application/octet-stream' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/targets/model/results HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/octet-stream

```

`POST /api/v1/targets/model/results`

<h3 id="getmodelresults-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|model_ids|query|array[string]|false|none|

> Example responses

> 200 Response

> 422 Response

```json
{
  "errors": {
    "message": [
      {
        "key": "string",
        "errors": [
          "string"
        ]
      }
    ],
    "status": 0,
    "detail": "string",
    "source": {
      "pointer": "string"
    },
    "title": "string"
  }
}
```

<h3 id="getmodelresults-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|CSV file containing the model/s results|string|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

<h1 id="spectro-algorithms">algorithms</h1>

Algorithm related operations

## <%= translate_fallback('getAlgorithms') %>

<a id="opIdgetAlgorithms"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/algorithms/ \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/algorithms/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/algorithms/`

*Get List of Algorithms*

<%= translate_fallback(
  'getAlgorithmsMessage',
  <<~HEREDOC
    <ul>
  <li>
    Returns list of available algorithms including parameters that can be used to create a model
  </li>
  <li>
    Algorithm documentation available <a href='https://hacarus.github.io/HacarusVisualInspectionApi/#t-algorithmswithversion'>here</a>
  </li>
</ul>
  HEREDOC
) %>

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "type": "string",
      "algorithm_id": "string",
      "version": "string",
      "updated_at": "2022-02-04T16:50:28Z",
      "file_name": "string",
      "class_name": "string",
      "parameters": [
        {
          "value": "string",
          "data_type": "string",
          "algorithm_id": "string",
          "updated_at": "2022-02-04T16:50:28Z",
          "algorithm_parameter_id": 0,
          "display_name": "string",
          "range_lower": "string",
          "created_at": "2022-02-04T16:50:28Z",
          "model_parameter": true,
          "name": "string",
          "range_upper": "string"
        }
      ],
      "created_at": "2022-02-04T16:50:28Z",
      "name": "string",
      "attribute": "string"
    }
  ]
}
```

<h3 id="getalgorithms-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[AlgorithmWithParameterListWrapper](#schemaalgorithmwithparameterlistwrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getAlgorithmById') %>

<a id="opIdgetAlgorithmById"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/algorithms/{algorithm_id} \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/algorithms/{algorithm_id} HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/algorithms/{algorithm_id}`

*Get Algorithm by ID*

<%= translate_fallback(
  'getAlgorithmByIdMessage',
  <<~HEREDOC
    Get a single algorithm by ID
  HEREDOC
) %>

<h3 id="getalgorithmbyid-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|algorithm_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "type": "string",
    "algorithm_id": "string",
    "version": "string",
    "updated_at": "2022-02-04T16:50:28Z",
    "file_name": "string",
    "class_name": "string",
    "parameters": [
      {
        "value": "string",
        "data_type": "string",
        "algorithm_id": "string",
        "updated_at": "2022-02-04T16:50:28Z",
        "algorithm_parameter_id": 0,
        "display_name": "string",
        "range_lower": "string",
        "created_at": "2022-02-04T16:50:28Z",
        "model_parameter": true,
        "name": "string",
        "range_upper": "string"
      }
    ],
    "created_at": "2022-02-04T16:50:28Z",
    "name": "string",
    "attribute": "string"
  }
}
```

<h3 id="getalgorithmbyid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[AlgorithmWithParameterWrapper](#schemaalgorithmwithparameterwrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('train') %>

<a id="opIdtrain"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/algorithms/{algorithm_id}/train \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/algorithms/{algorithm_id}/train HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/json

```

`POST /api/v1/algorithms/{algorithm_id}/train`

*Train*

<%= translate_fallback(
  'trainMessage',
  <<~HEREDOC
    Train a model
  HEREDOC
) %>

> Body parameter

```json
{
  "name": "string",
  "item_ids": [
    "string"
  ],
  "override_params": [
    {
      "algorithm_parameter_id": 0,
      "value": "string"
    }
  ]
}
```

<h3 id="train-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[TrainRequest](#schematrainrequest)|true|none|
|algorithm_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "algorithm_type": "string",
    "image_url": "string",
    "algorithm_id": "string",
    "version": "string",
    "ok_img_count": 0,
    "precision": 0,
    "recall": 0,
    "status_text": "string",
    "active": true,
    "training_time": 0,
    "updated_at": "2022-02-04T16:50:28Z",
    "ng_img_count": 0,
    "context_id": 0,
    "model_id": "string",
    "stats": {
      "accuracy": 0,
      "precision": {
        "projected": 0,
        "computed": 0
      },
      "recall": {
        "projected": 0,
        "computed": 0
      }
    },
    "created_at": "2022-02-04T16:50:28Z",
    "status": "string",
    "name": "string"
  }
}
```

<h3 id="train-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[HModelWrapper](#schemahmodelwrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

<h1 id="spectro-models">models</h1>

Model related operations

## <%= translate_fallback('getModels') %>

<a id="opIdgetModels"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/models/ \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/models/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/models/`

*Get List of Models*

<%= translate_fallback(
  'getModelsMessage',
  <<~HEREDOC
    Get all models created by user
  HEREDOC
) %>

<h3 id="getmodels-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|algorithm_id|query|string|false|none|

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "algorithm_type": "string",
      "image_url": "string",
      "algorithm_id": "string",
      "version": "string",
      "ok_img_count": 0,
      "precision": 0,
      "recall": 0,
      "status_text": "string",
      "active": true,
      "training_time": 0,
      "updated_at": "2022-02-04T16:50:28Z",
      "ng_img_count": 0,
      "context_id": 0,
      "model_id": "string",
      "stats": {
        "accuracy": 0,
        "precision": {
          "projected": 0,
          "computed": 0
        },
        "recall": {
          "projected": 0,
          "computed": 0
        }
      },
      "created_at": "2022-02-04T16:50:28Z",
      "status": "string",
      "name": "string"
    }
  ]
}
```

<h3 id="getmodels-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[HModelListWrapper](#schemahmodellistwrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('deleteModels') %>

<a id="opIddeleteModels"></a>

> Code samples

```shell
# You can also use wget
curl -X DELETE https://sdd-api-staging.hacarus.com/api/v1/models/ \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
DELETE https://sdd-api-staging.hacarus.com/api/v1/models/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`DELETE /api/v1/models/`

*Delete Models*

<%= translate_fallback(
  'deleteModelsMessage',
  <<~HEREDOC
    Delete models by id (list)
  HEREDOC
) %>

<h3 id="deletemodels-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|model_ids|query|array[string]|false|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "model_ids": [
      "string"
    ]
  }
}
```

<h3 id="deletemodels-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[ModelIdsQueryWrapper](#schemamodelidsquerywrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getModelById') %>

<a id="opIdgetModelById"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/models/{model_id} \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/models/{model_id} HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/models/{model_id}`

*Get Model by ID*

<%= translate_fallback(
  'getModelByIdMessage',
  <<~HEREDOC
    Get a single model by ID
  HEREDOC
) %>

<h3 id="getmodelbyid-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|model_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "algorithm_type": "string",
    "image_url": "string",
    "algorithm_id": "string",
    "version": "string",
    "ok_img_count": 0,
    "precision": 0,
    "recall": 0,
    "status_text": "string",
    "active": true,
    "training_time": 0,
    "updated_at": "2022-02-04T16:50:28Z",
    "ng_img_count": 0,
    "context_id": 0,
    "model_id": "string",
    "stats": {
      "accuracy": 0,
      "precision": {
        "projected": 0,
        "computed": 0
      },
      "recall": {
        "projected": 0,
        "computed": 0
      }
    },
    "created_at": "2022-02-04T16:50:28Z",
    "status": "string",
    "name": "string"
  }
}
```

<h3 id="getmodelbyid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[HModelWrapper](#schemahmodelwrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('exportModelsWithId') %>

<a id="opIdexportModelsWithId"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/models/export \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/zip' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/models/export HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/zip

```

`POST /api/v1/models/export`

*Export models*

<%= translate_fallback(
  'exportModelsWithIdMessage',
  <<~HEREDOC
    Export models given the Id
  HEREDOC
) %>

> Body parameter

```json
{
  "model_ids": [
    "string"
  ]
}
```

<h3 id="exportmodelswithid-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ModelIdsQuery](#schemamodelidsquery)|true|none|

> Example responses

> 200 Response

> 422 Response

```json
{
  "errors": {
    "message": [
      {
        "key": "string",
        "errors": [
          "string"
        ]
      }
    ],
    "status": 0,
    "detail": "string",
    "source": {
      "pointer": "string"
    },
    "title": "string"
  }
}
```

<h3 id="exportmodelswithid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Zip file containing the model/s|string|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('importModels') %>

<a id="opIdimportModels"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/models/import \
  -H 'Content-Type: multipart/form-data' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/models/import HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: multipart/form-data
Accept: application/json

```

`POST /api/v1/models/import`

*Import models*

<%= translate_fallback(
  'importModelsMessage',
  <<~HEREDOC
    Import models from the zip file
  HEREDOC
) %>

> Body parameter

```yaml
models: string

```

<h3 id="importmodels-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[ImportModels](#schemaimportmodels)|true|none|

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "algorithm_type": "string",
      "image_url": "string",
      "algorithm_id": "string",
      "version": "string",
      "ok_img_count": 0,
      "precision": 0,
      "recall": 0,
      "status_text": "string",
      "active": true,
      "training_time": 0,
      "updated_at": "2022-02-04T16:50:28Z",
      "ng_img_count": 0,
      "context_id": 0,
      "model_id": "string",
      "stats": {
        "accuracy": 0,
        "precision": {
          "projected": 0,
          "computed": 0
        },
        "recall": {
          "projected": 0,
          "computed": 0
        }
      },
      "created_at": "2022-02-04T16:50:28Z",
      "status": "string",
      "name": "string"
    }
  ]
}
```

<h3 id="importmodels-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[HModelListWrapper](#schemahmodellistwrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('setModelPredictParameters') %>

<a id="opIdsetModelPredictParameters"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/models/{model_id}/update_predict_parameters \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/models/{model_id}/update_predict_parameters HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/json

```

`POST /api/v1/models/{model_id}/update_predict_parameters`

*Set Prediction Parameters*

<%= translate_fallback(
  'setModelPredictParametersMessage',
  <<~HEREDOC
    Updates predict parameters
  HEREDOC
) %>

> Body parameter

```json
{
  "threshold": 0,
  "ignore_outer": "string",
  "min_detected_area": 0
}
```

<h3 id="setmodelpredictparameters-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[UpdatePredictParameters](#schemaupdatepredictparameters)|true|none|
|model_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "threshold": 0,
    "ignore_outer": "string",
    "min_detected_area": 0
  }
}
```

<h3 id="setmodelpredictparameters-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[UpdatePredictParametersResponseWrapper](#schemaupdatepredictparametersresponsewrapper)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|Invalid parameters|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('setModelPredictCallback') %>

<a id="opIdsetModelPredictCallback"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/models/{model_id}/update_predict_callback \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/models/{model_id}/update_predict_callback HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/json

```

`POST /api/v1/models/{model_id}/update_predict_callback`

*Set Prediction Callback URL*

<%= translate_fallback(
  'setModelPredictCallbackMessage',
  <<~HEREDOC
    Updates the callback URL for prediction. Once this endpoint has been set, a successful prediction will do a POST or GET operation to the callback URL with the data [PredictionItemCallbackResponse](#tocS_PredictionItemCallbackResponse)
  HEREDOC
) %>

> Body parameter

```json
{
  "callback_url": "string",
  "callback_method": "string"
}
```

<h3 id="setmodelpredictcallback-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[UpdatePredictCallback](#schemaupdatepredictcallback)|true|none|
|model_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "callback_url": "string",
    "callback_method": "string"
  }
}
```

<h3 id="setmodelpredictcallback-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[UpdatePredictCallbackResponseWrapper](#schemaupdatepredictcallbackresponsewrapper)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|Invalid parameters|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('predictItems') %>

<a id="opIdpredictItems"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/models/{model_id}/predict \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/models/{model_id}/predict HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/json

```

`POST /api/v1/models/{model_id}/predict`

*Predict Items*

<%= translate_fallback(
  'predictItemsMessage',
  <<~HEREDOC
    Predict items in the background
  HEREDOC
) %>

> Body parameter

```json
{
  "item_ids": [
    "string"
  ]
}
```

<h3 id="predictitems-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[Predict](#schemapredict)|true|none|
|model_id|path|string|true|The model id, set to "active" to use current active model|

> Example responses

> 200 Response

```json
{
  "data": {
    "model_version": "string",
    "item_ids": [
      "string"
    ]
  }
}
```

<h3 id="predictitems-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[PredictItemsResponseWrapper](#schemapredictitemsresponsewrapper)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|model_id not found|[BaseError](#schemabaseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|item_id not found|[BaseError](#schemabaseerror)|
|425|Unknown|The server is busy processing requests. Try again in a while.|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

<h1 id="spectro-items">items</h1>

Item related operations

## <%= translate_fallback('getItemsByType') %>

<a id="opIdgetItemsByType"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/items/?item_type=string \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/items/?item_type=string HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/items/`

*Get List of Items*

<%= translate_fallback(
  'getItemsByTypeMessage',
  <<~HEREDOC
    Returns items based on given `item_type` (prediction, training)
  HEREDOC
) %>

<h3 id="getitemsbytype-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|count|query|integer(int32)|false|none|
|page|query|integer(int32)|false|none|
|model_id|query|string|false|none|
|item_type|query|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "end_page": 0,
    "current_page": 0,
    "count_per_page": 0,
    "items": [
      {
        "active": true,
        "is_training_data": true,
        "user_assessment": {
          "result": "string",
          "annotations": [
            {
              "y_min": 0,
              "x_max": 0,
              "y_max": 0,
              "label": 0,
              "defect_size": 0,
              "created_at": "2022-02-04T16:50:28Z",
              "x_min": 0,
              "annotation_id": 0,
              "notes": "string"
            }
          ],
          "label": "string",
          "images": [
            {
              "url": "string",
              "width": 0,
              "file_size": 0,
              "height": 0,
              "name": "string"
            }
          ]
        },
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ],
        "item_id": "string",
        "assessments": [
          {
            "annotations": [
              {
                "y_min": 0,
                "x_max": 0,
                "y_max": 0,
                "label": 0,
                "defect_size": 0,
                "created_at": "2022-02-04T16:50:28Z",
                "x_min": 0,
                "annotation_id": 0,
                "notes": "string"
              }
            ],
            "label": "string",
            "images": [
              {
                "url": "string",
                "width": 0,
                "file_size": 0,
                "height": 0,
                "name": "string"
              }
            ],
            "anomaly_score": "string",
            "model_id": "string",
            "detected_objects": 0,
            "detection_accuracy": 0,
            "result": "string"
          }
        ],
        "status": "string",
        "name": "string"
      }
    ]
  }
}
```

<h3 id="getitemsbytype-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[GetItemsResponseWrapper](#schemagetitemsresponsewrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('addItem') %>

<a id="opIdaddItem"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/items/ \
  -H 'Content-Type: multipart/form-data' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/items/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: multipart/form-data
Accept: application/json

```

`POST /api/v1/items/`

*Add Item*

<%= translate_fallback(
  'addItemMessage',
  <<~HEREDOC
    Add prediction or training item/s. This endpoint also gives you an option to tag an item as Good or Bad
  HEREDOC
) %>

> Body parameter

```yaml
files:
  - string
training: true
good: true
model_id: string

```

<h3 id="additem-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[AddItemRequest](#schemaadditemrequest)|true|none|

> Example responses

> 201 Response

```json
{
  "data": {
    "item_ids": [
      "string"
    ]
  }
}
```

<h3 id="additem-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|201|[Created](https://tools.ietf.org/html/rfc7231#section-6.3.2)|CREATED|[AddItemResponseWrapper](#schemaadditemresponsewrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('delItem') %>

<a id="opIddelItem"></a>

> Code samples

```shell
# You can also use wget
curl -X DELETE https://sdd-api-staging.hacarus.com/api/v1/items/ \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
DELETE https://sdd-api-staging.hacarus.com/api/v1/items/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/json

```

`DELETE /api/v1/items/`

> Body parameter

```json
{
  "item_ids": [
    "string"
  ]
}
```

<h3 id="delitem-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[DelItemRequest](#schemadelitemrequest)|true|none|

> Example responses

> 422 Response

```json
{
  "errors": {
    "message": [
      {
        "key": "string",
        "errors": [
          "string"
        ]
      }
    ],
    "status": 0,
    "detail": "string",
    "source": {
      "pointer": "string"
    },
    "title": "string"
  }
}
```

<h3 id="delitem-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getItemById') %>

<a id="opIdgetItemById"></a>

> Code samples

```shell
# You can also use wget
curl -X GET https://sdd-api-staging.hacarus.com/api/v1/items/{item_id} \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
GET https://sdd-api-staging.hacarus.com/api/v1/items/{item_id} HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`GET /api/v1/items/{item_id}`

*Get Item by Id*

<%= translate_fallback(
  'getItemByIdMessage',
  <<~HEREDOC
    Get specific item and annotations
  HEREDOC
) %>

<h3 id="getitembyid-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|show_assessments|query|boolean|false|none|
|show_annotations|query|boolean|false|none|
|model_id|query|string|false|none|
|item_id|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "active": true,
    "is_training_data": true,
    "user_assessment": {
      "result": "string",
      "annotations": [
        {
          "y_min": 0,
          "x_max": 0,
          "y_max": 0,
          "label": 0,
          "defect_size": 0,
          "created_at": "2022-02-04T16:50:28Z",
          "x_min": 0,
          "annotation_id": 0,
          "notes": "string"
        }
      ],
      "label": "string",
      "images": [
        {
          "url": "string",
          "width": 0,
          "file_size": 0,
          "height": 0,
          "name": "string"
        }
      ]
    },
    "images": [
      {
        "url": "string",
        "width": 0,
        "file_size": 0,
        "height": 0,
        "name": "string"
      }
    ],
    "item_id": "string",
    "assessments": [
      {
        "annotations": [
          {
            "y_min": 0,
            "x_max": 0,
            "y_max": 0,
            "label": 0,
            "defect_size": 0,
            "created_at": "2022-02-04T16:50:28Z",
            "x_min": 0,
            "annotation_id": 0,
            "notes": "string"
          }
        ],
        "label": "string",
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ],
        "anomaly_score": "string",
        "model_id": "string",
        "detected_objects": 0,
        "detection_accuracy": 0,
        "result": "string"
      }
    ],
    "status": "string",
    "name": "string"
  }
}
```

<h3 id="getitembyid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[ItemWrapper](#schemaitemwrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('annotate') %>

<a id="opIdannotate"></a>

> Code samples

```shell
# You can also use wget
curl -X PATCH https://sdd-api-staging.hacarus.com/api/v1/items/{item_id} \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
PATCH https://sdd-api-staging.hacarus.com/api/v1/items/{item_id} HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: application/json
Accept: application/json

```

`PATCH /api/v1/items/{item_id}`

> Body parameter

```json
{
  "annotations": [
    {
      "x_max": 0,
      "x_min": 0,
      "y_max": 0,
      "y_min": 0,
      "label": 0,
      "notes": "string"
    }
  ]
}
```

<h3 id="annotate-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[AnnotateItemRequest](#schemaannotateitemrequest)|true|none|
|item_id|path|string|true|none|

> Example responses

> 422 Response

```json
{
  "errors": {
    "message": [
      {
        "key": "string",
        "errors": [
          "string"
        ]
      }
    ],
    "status": 0,
    "detail": "string",
    "source": {
      "pointer": "string"
    },
    "title": "string"
  }
}
```

<h3 id="annotate-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|ACCEPTED|None|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

<h1 id="spectro-utils">utils</h1>

Support and utility functions

## <%= translate_fallback('setLicense') %>

<a id="opIdsetLicense"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/utils/ \
  -H 'Content-Type: multipart/form-data' \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/utils/ HTTP/1.1
Host: sdd-api-staging.hacarus.com
Content-Type: multipart/form-data
Accept: application/json

```

`POST /api/v1/utils/`

> Body parameter

```yaml
license_data: string

```

<h3 id="setlicense-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[License](#schemalicense)|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "license_expiry": "string"
  }
}
```

<h3 id="setlicense-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[LicenseResponseWrapper](#schemalicenseresponsewrapper)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|Unprocessable Entity|[BaseError](#schemabaseerror)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getLogs') %>

<a id="opIdgetLogs"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/utils/debug \
  -H 'Accept: application/octet-stream' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/utils/debug HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/octet-stream

```

`POST /api/v1/utils/debug`

> Example responses

> 200 Response

<h3 id="getlogs-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|ZIP file containing the debug logs|string|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

## <%= translate_fallback('getHashId') %>

<a id="opIdgetHashId"></a>

> Code samples

```shell
# You can also use wget
curl -X POST https://sdd-api-staging.hacarus.com/api/v1/utils/node_hash \
  -H 'Accept: application/json' \
  -H 'Authorization: Bearer {access-token}'

```

```http
POST https://sdd-api-staging.hacarus.com/api/v1/utils/node_hash HTTP/1.1
Host: sdd-api-staging.hacarus.com
Accept: application/json

```

`POST /api/v1/utils/node_hash`

> Example responses

> 200 Response

```json
{
  "data": {
    "hash_id": "string"
  }
}
```

<h3 id="gethashid-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|OK|[LicenseHashResponseWrapper](#schemalicensehashresponsewrapper)|
|default|Default|Default error response|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

<h1 id="spectro-token">token</h1>

API authentication operations

## <%= translate_fallback('login') %>

<a id="opIdlogin"></a>

> Code samples

```csharp
LoginParams loginParams = new LoginParams(
  clientId: "client id",
  clientSecret: "client secret",
  grantType: "client_credentials"
);
var resp = instance.Login(loginParams);

```

`POST /api/auth/token`

*Authorization*

<%= translate_fallback(
  'loginMessage',
  <<~HEREDOC
    Returns the access token
  HEREDOC
) %>

> Body parameter

```json
{
  "grant_type": "client_credentials",
  "client_secret": "client_secret",
  "client_id": "client_id"
}
```

<h3 id="login-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|body|body|[LoginParams](#schemaloginparams)|true|none|

> Example responses

> 200 Response

```json
{
  "access_token": "access_token"
}
```

<h3 id="login-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Successful login|[LoginResponse](#schemaloginresponse)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Invalid credentials|[BaseError](#schemabaseerror)|
|default|Default|default error handler|[BaseError](#schemabaseerror)|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
jwt, oauth2
</aside>

# Schemas

<h2 id="tocS_KeyValueError">KeyValueError</h2>
<!-- backwards compatibility -->
<a id="schemakeyvalueerror"></a>
<a id="schema_KeyValueError"></a>
<a id="tocSkeyvalueerror"></a>
<a id="tocskeyvalueerror"></a>

```json
{
  "key": "string",
  "errors": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|key|string|false|none|Error key|
|errors|[string]|false|none|none|

<h2 id="tocS_ErrorSource">ErrorSource</h2>
<!-- backwards compatibility -->
<a id="schemaerrorsource"></a>
<a id="schema_ErrorSource"></a>
<a id="tocSerrorsource"></a>
<a id="tocserrorsource"></a>

```json
{
  "pointer": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|pointer|string|false|none|Endpoint errored|

<h2 id="tocS_Error">Error</h2>
<!-- backwards compatibility -->
<a id="schemaerror"></a>
<a id="schema_Error"></a>
<a id="tocSerror"></a>
<a id="tocserror"></a>

```json
{
  "message": [
    {
      "key": "string",
      "errors": [
        "string"
      ]
    }
  ],
  "status": 0,
  "detail": "string",
  "source": {
    "pointer": "string"
  },
  "title": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|[[KeyValueError](#schemakeyvalueerror)]|false|none|none|
|status|integer(int32)|false|none|Error status code|
|detail|string|false|none|Error Details|
|source|[ErrorSource](#schemaerrorsource)|false|none|Error Source|
|title|string|false|none|Error Title|

<h2 id="tocS_BaseError">BaseError</h2>
<!-- backwards compatibility -->
<a id="schemabaseerror"></a>
<a id="schema_BaseError"></a>
<a id="tocSbaseerror"></a>
<a id="tocsbaseerror"></a>

```json
{
  "errors": {
    "message": [
      {
        "key": "string",
        "errors": [
          "string"
        ]
      }
    ],
    "status": 0,
    "detail": "string",
    "source": {
      "pointer": "string"
    },
    "title": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[Error](#schemaerror)|false|none|none|

<h2 id="tocS_LoginResponse">LoginResponse</h2>
<!-- backwards compatibility -->
<a id="schemaloginresponse"></a>
<a id="schema_LoginResponse"></a>
<a id="tocSloginresponse"></a>
<a id="tocsloginresponse"></a>

```json
{
  "access_token": "access_token"
}

```

response object of login

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|access_token|string|true|none|none|

<h2 id="tocS_LoginParams">LoginParams</h2>
<!-- backwards compatibility -->
<a id="schemaloginparams"></a>
<a id="schema_LoginParams"></a>
<a id="tocSloginparams"></a>
<a id="tocsloginparams"></a>

```json
{
  "grant_type": "client_credentials",
  "client_secret": "client_secret",
  "client_id": "client_id"
}

```

login parameters

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|client_id|string|true|none|none|
|client_secret|string|true|none|none|
|grant_type|string|true|none|none|

<h2 id="tocS_Preprocessing">Preprocessing</h2>
<!-- backwards compatibility -->
<a id="schemapreprocessing"></a>
<a id="schema_Preprocessing"></a>
<a id="tocSpreprocessing"></a>
<a id="tocspreprocessing"></a>

```json
{
  "active": true,
  "name": "string",
  "config": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|active|boolean¦null|false|none|none|
|name|string|true|none|none|
|config|string¦null|false|none|none|

<h2 id="tocS_InspectionTarget">InspectionTarget</h2>
<!-- backwards compatibility -->
<a id="schemainspectiontarget"></a>
<a id="schema_InspectionTarget"></a>
<a id="tocSinspectiontarget"></a>
<a id="tocsinspectiontarget"></a>

```json
{
  "preprocessing": [
    {
      "active": true,
      "name": "string",
      "config": "string"
    }
  ],
  "name": "string",
  "target_id": 0
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|preprocessing|[[Preprocessing](#schemapreprocessing)]|false|none|none|
|name|string|false|none|none|
|target_id|integer(int32)|false|none|none|

<h2 id="tocS_InspectionTargetListWrapper">InspectionTargetListWrapper</h2>
<!-- backwards compatibility -->
<a id="schemainspectiontargetlistwrapper"></a>
<a id="schema_InspectionTargetListWrapper"></a>
<a id="tocSinspectiontargetlistwrapper"></a>
<a id="tocsinspectiontargetlistwrapper"></a>

```json
{
  "data": [
    {
      "preprocessing": [
        {
          "active": true,
          "name": "string",
          "config": "string"
        }
      ],
      "name": "string",
      "target_id": 0
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InspectionTarget](#schemainspectiontarget)]|false|none|none|

<h2 id="tocS_InspectionTargetWrapper">InspectionTargetWrapper</h2>
<!-- backwards compatibility -->
<a id="schemainspectiontargetwrapper"></a>
<a id="schema_InspectionTargetWrapper"></a>
<a id="tocSinspectiontargetwrapper"></a>
<a id="tocsinspectiontargetwrapper"></a>

```json
{
  "data": {
    "preprocessing": [
      {
        "active": true,
        "name": "string",
        "config": "string"
      }
    ],
    "name": "string",
    "target_id": 0
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InspectionTarget](#schemainspectiontarget)|false|none|none|

<h2 id="tocS_AlgorithmParameter">AlgorithmParameter</h2>
<!-- backwards compatibility -->
<a id="schemaalgorithmparameter"></a>
<a id="schema_AlgorithmParameter"></a>
<a id="tocSalgorithmparameter"></a>
<a id="tocsalgorithmparameter"></a>

```json
{
  "value": "string",
  "data_type": "string",
  "algorithm_id": "string",
  "updated_at": "2022-02-04T16:50:28Z",
  "algorithm_parameter_id": 0,
  "display_name": "string",
  "range_lower": "string",
  "created_at": "2022-02-04T16:50:28Z",
  "model_parameter": true,
  "name": "string",
  "range_upper": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|value|string¦null|false|none|none|
|data_type|string|false|none|none|
|algorithm_id|string|true|none|none|
|updated_at|string(date-time)|true|none|none|
|algorithm_parameter_id|integer(int32)|false|none|none|
|display_name|string¦null|false|none|none|
|range_lower|string¦null|false|none|none|
|created_at|string(date-time)|true|none|none|
|model_parameter|boolean¦null|false|none|none|
|name|string|true|none|none|
|range_upper|string¦null|false|none|none|

<h2 id="tocS_AlgorithmWithParameter">AlgorithmWithParameter</h2>
<!-- backwards compatibility -->
<a id="schemaalgorithmwithparameter"></a>
<a id="schema_AlgorithmWithParameter"></a>
<a id="tocSalgorithmwithparameter"></a>
<a id="tocsalgorithmwithparameter"></a>

```json
{
  "type": "string",
  "algorithm_id": "string",
  "version": "string",
  "updated_at": "2022-02-04T16:50:28Z",
  "file_name": "string",
  "class_name": "string",
  "parameters": [
    {
      "value": "string",
      "data_type": "string",
      "algorithm_id": "string",
      "updated_at": "2022-02-04T16:50:28Z",
      "algorithm_parameter_id": 0,
      "display_name": "string",
      "range_lower": "string",
      "created_at": "2022-02-04T16:50:28Z",
      "model_parameter": true,
      "name": "string",
      "range_upper": "string"
    }
  ],
  "created_at": "2022-02-04T16:50:28Z",
  "name": "string",
  "attribute": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|none|
|algorithm_id|string|true|none|none|
|version|string¦null|false|none|none|
|updated_at|string(date-time)|true|none|none|
|file_name|string|true|none|none|
|class_name|string|true|none|none|
|parameters|[[AlgorithmParameter](#schemaalgorithmparameter)]|false|none|none|
|created_at|string(date-time)|true|none|none|
|name|string|true|none|none|
|attribute|string|false|none|none|

<h2 id="tocS_AlgorithmWithParameterListWrapper">AlgorithmWithParameterListWrapper</h2>
<!-- backwards compatibility -->
<a id="schemaalgorithmwithparameterlistwrapper"></a>
<a id="schema_AlgorithmWithParameterListWrapper"></a>
<a id="tocSalgorithmwithparameterlistwrapper"></a>
<a id="tocsalgorithmwithparameterlistwrapper"></a>

```json
{
  "data": [
    {
      "type": "string",
      "algorithm_id": "string",
      "version": "string",
      "updated_at": "2022-02-04T16:50:28Z",
      "file_name": "string",
      "class_name": "string",
      "parameters": [
        {
          "value": "string",
          "data_type": "string",
          "algorithm_id": "string",
          "updated_at": "2022-02-04T16:50:28Z",
          "algorithm_parameter_id": 0,
          "display_name": "string",
          "range_lower": "string",
          "created_at": "2022-02-04T16:50:28Z",
          "model_parameter": true,
          "name": "string",
          "range_upper": "string"
        }
      ],
      "created_at": "2022-02-04T16:50:28Z",
      "name": "string",
      "attribute": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[AlgorithmWithParameter](#schemaalgorithmwithparameter)]|false|none|none|

<h2 id="tocS_AlgorithmWithParameterWrapper">AlgorithmWithParameterWrapper</h2>
<!-- backwards compatibility -->
<a id="schemaalgorithmwithparameterwrapper"></a>
<a id="schema_AlgorithmWithParameterWrapper"></a>
<a id="tocSalgorithmwithparameterwrapper"></a>
<a id="tocsalgorithmwithparameterwrapper"></a>

```json
{
  "data": {
    "type": "string",
    "algorithm_id": "string",
    "version": "string",
    "updated_at": "2022-02-04T16:50:28Z",
    "file_name": "string",
    "class_name": "string",
    "parameters": [
      {
        "value": "string",
        "data_type": "string",
        "algorithm_id": "string",
        "updated_at": "2022-02-04T16:50:28Z",
        "algorithm_parameter_id": 0,
        "display_name": "string",
        "range_lower": "string",
        "created_at": "2022-02-04T16:50:28Z",
        "model_parameter": true,
        "name": "string",
        "range_upper": "string"
      }
    ],
    "created_at": "2022-02-04T16:50:28Z",
    "name": "string",
    "attribute": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[AlgorithmWithParameter](#schemaalgorithmwithparameter)|false|none|none|

<h2 id="tocS_OverrideParam">OverrideParam</h2>
<!-- backwards compatibility -->
<a id="schemaoverrideparam"></a>
<a id="schema_OverrideParam"></a>
<a id="tocSoverrideparam"></a>
<a id="tocsoverrideparam"></a>

```json
{
  "algorithm_parameter_id": 0,
  "value": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|algorithm_parameter_id|integer(int32)|false|none|none|
|value|string|false|none|none|

<h2 id="tocS_TrainRequest">TrainRequest</h2>
<!-- backwards compatibility -->
<a id="schematrainrequest"></a>
<a id="schema_TrainRequest"></a>
<a id="tocStrainrequest"></a>
<a id="tocstrainrequest"></a>

```json
{
  "name": "string",
  "item_ids": [
    "string"
  ],
  "override_params": [
    {
      "algorithm_parameter_id": 0,
      "value": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|none|
|item_ids|[string]|false|none|none|
|override_params|[[OverrideParam](#schemaoverrideparam)]|false|none|none|

<h2 id="tocS_HModelPrecision">HModelPrecision</h2>
<!-- backwards compatibility -->
<a id="schemahmodelprecision"></a>
<a id="schema_HModelPrecision"></a>
<a id="tocShmodelprecision"></a>
<a id="tocshmodelprecision"></a>

```json
{
  "projected": 0,
  "computed": 0
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|projected|number¦null|false|none|none|
|computed|number¦null|false|none|none|

<h2 id="tocS_HModelStats">HModelStats</h2>
<!-- backwards compatibility -->
<a id="schemahmodelstats"></a>
<a id="schema_HModelStats"></a>
<a id="tocShmodelstats"></a>
<a id="tocshmodelstats"></a>

```json
{
  "accuracy": 0,
  "precision": {
    "projected": 0,
    "computed": 0
  },
  "recall": {
    "projected": 0,
    "computed": 0
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|accuracy|number¦null|false|none|none|
|precision|[HModelPrecision](#schemahmodelprecision)|false|none|none|
|recall|[HModelPrecision](#schemahmodelprecision)|false|none|none|

<h2 id="tocS_HModel">HModel</h2>
<!-- backwards compatibility -->
<a id="schemahmodel"></a>
<a id="schema_HModel"></a>
<a id="tocShmodel"></a>
<a id="tocshmodel"></a>

```json
{
  "algorithm_type": "string",
  "image_url": "string",
  "algorithm_id": "string",
  "version": "string",
  "ok_img_count": 0,
  "precision": 0,
  "recall": 0,
  "status_text": "string",
  "active": true,
  "training_time": 0,
  "updated_at": "2022-02-04T16:50:28Z",
  "ng_img_count": 0,
  "context_id": 0,
  "model_id": "string",
  "stats": {
    "accuracy": 0,
    "precision": {
      "projected": 0,
      "computed": 0
    },
    "recall": {
      "projected": 0,
      "computed": 0
    }
  },
  "created_at": "2022-02-04T16:50:28Z",
  "status": "string",
  "name": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|algorithm_type|string|true|none|none|
|image_url|string¦null|false|none|none|
|algorithm_id|string|true|none|none|
|version|string|true|none|none|
|ok_img_count|integer(int32)|false|none|none|
|precision|number¦null|false|none|none|
|recall|number¦null|false|none|none|
|status_text|string¦null|false|none|none|
|active|boolean¦null|false|none|none|
|training_time|integer(int32)¦null|false|none|none|
|updated_at|string(date-time)|true|none|none|
|ng_img_count|integer(int32)|false|none|none|
|context_id|integer(int32)|true|none|none|
|model_id|string|true|none|none|
|stats|[HModelStats](#schemahmodelstats)|false|none|none|
|created_at|string(date-time)|true|none|none|
|status|string|false|none|none|
|name|string|true|none|none|

<h2 id="tocS_HModelWrapper">HModelWrapper</h2>
<!-- backwards compatibility -->
<a id="schemahmodelwrapper"></a>
<a id="schema_HModelWrapper"></a>
<a id="tocShmodelwrapper"></a>
<a id="tocshmodelwrapper"></a>

```json
{
  "data": {
    "algorithm_type": "string",
    "image_url": "string",
    "algorithm_id": "string",
    "version": "string",
    "ok_img_count": 0,
    "precision": 0,
    "recall": 0,
    "status_text": "string",
    "active": true,
    "training_time": 0,
    "updated_at": "2022-02-04T16:50:28Z",
    "ng_img_count": 0,
    "context_id": 0,
    "model_id": "string",
    "stats": {
      "accuracy": 0,
      "precision": {
        "projected": 0,
        "computed": 0
      },
      "recall": {
        "projected": 0,
        "computed": 0
      }
    },
    "created_at": "2022-02-04T16:50:28Z",
    "status": "string",
    "name": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[HModel](#schemahmodel)|false|none|none|

<h2 id="tocS_HModelListWrapper">HModelListWrapper</h2>
<!-- backwards compatibility -->
<a id="schemahmodellistwrapper"></a>
<a id="schema_HModelListWrapper"></a>
<a id="tocShmodellistwrapper"></a>
<a id="tocshmodellistwrapper"></a>

```json
{
  "data": [
    {
      "algorithm_type": "string",
      "image_url": "string",
      "algorithm_id": "string",
      "version": "string",
      "ok_img_count": 0,
      "precision": 0,
      "recall": 0,
      "status_text": "string",
      "active": true,
      "training_time": 0,
      "updated_at": "2022-02-04T16:50:28Z",
      "ng_img_count": 0,
      "context_id": 0,
      "model_id": "string",
      "stats": {
        "accuracy": 0,
        "precision": {
          "projected": 0,
          "computed": 0
        },
        "recall": {
          "projected": 0,
          "computed": 0
        }
      },
      "created_at": "2022-02-04T16:50:28Z",
      "status": "string",
      "name": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[HModel](#schemahmodel)]|false|none|none|

<h2 id="tocS_ModelIdsQuery">ModelIdsQuery</h2>
<!-- backwards compatibility -->
<a id="schemamodelidsquery"></a>
<a id="schema_ModelIdsQuery"></a>
<a id="tocSmodelidsquery"></a>
<a id="tocsmodelidsquery"></a>

```json
{
  "model_ids": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|model_ids|[string]|false|none|none|

<h2 id="tocS_ModelIdsQueryWrapper">ModelIdsQueryWrapper</h2>
<!-- backwards compatibility -->
<a id="schemamodelidsquerywrapper"></a>
<a id="schema_ModelIdsQueryWrapper"></a>
<a id="tocSmodelidsquerywrapper"></a>
<a id="tocsmodelidsquerywrapper"></a>

```json
{
  "data": {
    "model_ids": [
      "string"
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[ModelIdsQuery](#schemamodelidsquery)|false|none|none|

<h2 id="tocS_ImportModels">ImportModels</h2>
<!-- backwards compatibility -->
<a id="schemaimportmodels"></a>
<a id="schema_ImportModels"></a>
<a id="tocSimportmodels"></a>
<a id="tocsimportmodels"></a>

```json
{
  "models": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|models|string(binary)|false|none|none|

<h2 id="tocS_UpdatePredictParameters">UpdatePredictParameters</h2>
<!-- backwards compatibility -->
<a id="schemaupdatepredictparameters"></a>
<a id="schema_UpdatePredictParameters"></a>
<a id="tocSupdatepredictparameters"></a>
<a id="tocsupdatepredictparameters"></a>

```json
{
  "threshold": 0,
  "ignore_outer": "string",
  "min_detected_area": 0
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|threshold|number(float)|false|none|none|
|ignore_outer|string|false|none|none|
|min_detected_area|number(float)|false|none|none|

<h2 id="tocS_UpdatePredictParametersResponse">UpdatePredictParametersResponse</h2>
<!-- backwards compatibility -->
<a id="schemaupdatepredictparametersresponse"></a>
<a id="schema_UpdatePredictParametersResponse"></a>
<a id="tocSupdatepredictparametersresponse"></a>
<a id="tocsupdatepredictparametersresponse"></a>

```json
{
  "threshold": 0,
  "ignore_outer": "string",
  "min_detected_area": 0
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|threshold|number(float)|false|none|none|
|ignore_outer|string|false|none|none|
|min_detected_area|number(float)|false|none|none|

<h2 id="tocS_UpdatePredictParametersResponseWrapper">UpdatePredictParametersResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemaupdatepredictparametersresponsewrapper"></a>
<a id="schema_UpdatePredictParametersResponseWrapper"></a>
<a id="tocSupdatepredictparametersresponsewrapper"></a>
<a id="tocsupdatepredictparametersresponsewrapper"></a>

```json
{
  "data": {
    "threshold": 0,
    "ignore_outer": "string",
    "min_detected_area": 0
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[UpdatePredictParametersResponse](#schemaupdatepredictparametersresponse)|false|none|none|

<h2 id="tocS_UpdatePredictCallback">UpdatePredictCallback</h2>
<!-- backwards compatibility -->
<a id="schemaupdatepredictcallback"></a>
<a id="schema_UpdatePredictCallback"></a>
<a id="tocSupdatepredictcallback"></a>
<a id="tocsupdatepredictcallback"></a>

```json
{
  "callback_url": "string",
  "callback_method": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|callback_url|string|false|none|The callback URL that SPECTRO will call to send prediction details after a prediction call has been completed.|
|callback_method|string|false|none|The method in which the callback will be called. Valid values are 'post' and 'get'|

<h2 id="tocS_UpdatePredictCallbackResponse">UpdatePredictCallbackResponse</h2>
<!-- backwards compatibility -->
<a id="schemaupdatepredictcallbackresponse"></a>
<a id="schema_UpdatePredictCallbackResponse"></a>
<a id="tocSupdatepredictcallbackresponse"></a>
<a id="tocsupdatepredictcallbackresponse"></a>

```json
{
  "callback_url": "string",
  "callback_method": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|callback_url|string|false|none|none|
|callback_method|string|false|none|none|

<h2 id="tocS_UpdatePredictCallbackResponseWrapper">UpdatePredictCallbackResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemaupdatepredictcallbackresponsewrapper"></a>
<a id="schema_UpdatePredictCallbackResponseWrapper"></a>
<a id="tocSupdatepredictcallbackresponsewrapper"></a>
<a id="tocsupdatepredictcallbackresponsewrapper"></a>

```json
{
  "data": {
    "callback_url": "string",
    "callback_method": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[UpdatePredictCallbackResponse](#schemaupdatepredictcallbackresponse)|false|none|none|

<h2 id="tocS_Predict">Predict</h2>
<!-- backwards compatibility -->
<a id="schemapredict"></a>
<a id="schema_Predict"></a>
<a id="tocSpredict"></a>
<a id="tocspredict"></a>

```json
{
  "item_ids": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|item_ids|[string]|false|none|none|

<h2 id="tocS_PredictItemsResponse">PredictItemsResponse</h2>
<!-- backwards compatibility -->
<a id="schemapredictitemsresponse"></a>
<a id="schema_PredictItemsResponse"></a>
<a id="tocSpredictitemsresponse"></a>
<a id="tocspredictitemsresponse"></a>

```json
{
  "model_version": "string",
  "item_ids": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|model_version|string|false|none|none|
|item_ids|[string]|false|none|none|

<h2 id="tocS_PredictItemsResponseWrapper">PredictItemsResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemapredictitemsresponsewrapper"></a>
<a id="schema_PredictItemsResponseWrapper"></a>
<a id="tocSpredictitemsresponsewrapper"></a>
<a id="tocspredictitemsresponsewrapper"></a>

```json
{
  "data": {
    "model_version": "string",
    "item_ids": [
      "string"
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[PredictItemsResponse](#schemapredictitemsresponse)|false|none|none|

<h2 id="tocS_Annotation">Annotation</h2>
<!-- backwards compatibility -->
<a id="schemaannotation"></a>
<a id="schema_Annotation"></a>
<a id="tocSannotation"></a>
<a id="tocsannotation"></a>

```json
{
  "y_min": 0,
  "x_max": 0,
  "y_max": 0,
  "label": 0,
  "defect_size": 0,
  "created_at": "2022-02-04T16:50:28Z",
  "x_min": 0,
  "annotation_id": 0,
  "notes": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|y_min|number¦null|false|none|none|
|x_max|number¦null|false|none|none|
|y_max|number¦null|false|none|none|
|label|integer(int32)¦null|false|none|none|
|defect_size|number¦null|false|none|none|
|created_at|string(date-time)|true|none|none|
|x_min|number¦null|false|none|none|
|annotation_id|integer(int32)|false|none|none|
|notes|string¦null|false|none|none|

<h2 id="tocS_ItemImageMeta">ItemImageMeta</h2>
<!-- backwards compatibility -->
<a id="schemaitemimagemeta"></a>
<a id="schema_ItemImageMeta"></a>
<a id="tocSitemimagemeta"></a>
<a id="tocsitemimagemeta"></a>

```json
{
  "url": "string",
  "width": 0,
  "file_size": 0,
  "height": 0,
  "name": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|url|string|false|none|none|
|width|integer(int32)|false|none|none|
|file_size|integer(int32)|false|none|none|
|height|integer(int32)|false|none|none|
|name|string|false|none|none|

<h2 id="tocS_AssessmentItem">AssessmentItem</h2>
<!-- backwards compatibility -->
<a id="schemaassessmentitem"></a>
<a id="schema_AssessmentItem"></a>
<a id="tocSassessmentitem"></a>
<a id="tocsassessmentitem"></a>

```json
{
  "result": "string",
  "annotations": [
    {
      "y_min": 0,
      "x_max": 0,
      "y_max": 0,
      "label": 0,
      "defect_size": 0,
      "created_at": "2022-02-04T16:50:28Z",
      "x_min": 0,
      "annotation_id": 0,
      "notes": "string"
    }
  ],
  "label": "string",
  "images": [
    {
      "url": "string",
      "width": 0,
      "file_size": 0,
      "height": 0,
      "name": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|result|string|false|none|none|
|annotations|[[Annotation](#schemaannotation)]|false|none|none|
|label|string|false|none|none|
|images|[[ItemImageMeta](#schemaitemimagemeta)]|false|none|none|

<h2 id="tocS_AssessmentItem1">AssessmentItem1</h2>
<!-- backwards compatibility -->
<a id="schemaassessmentitem1"></a>
<a id="schema_AssessmentItem1"></a>
<a id="tocSassessmentitem1"></a>
<a id="tocsassessmentitem1"></a>

```json
{
  "annotations": [
    {
      "y_min": 0,
      "x_max": 0,
      "y_max": 0,
      "label": 0,
      "defect_size": 0,
      "created_at": "2022-02-04T16:50:28Z",
      "x_min": 0,
      "annotation_id": 0,
      "notes": "string"
    }
  ],
  "label": "string",
  "images": [
    {
      "url": "string",
      "width": 0,
      "file_size": 0,
      "height": 0,
      "name": "string"
    }
  ],
  "anomaly_score": "string",
  "model_id": "string",
  "detected_objects": 0,
  "detection_accuracy": 0,
  "result": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|annotations|[[Annotation](#schemaannotation)]|false|none|none|
|label|string|false|none|none|
|images|[[ItemImageMeta](#schemaitemimagemeta)]|false|none|none|
|anomaly_score|string|false|none|none|
|model_id|string|false|none|none|
|detected_objects|integer(int32)¦null|false|none|none|
|detection_accuracy|integer(int32)¦null|false|none|none|
|result|string|false|none|none|

<h2 id="tocS_Item">Item</h2>
<!-- backwards compatibility -->
<a id="schemaitem"></a>
<a id="schema_Item"></a>
<a id="tocSitem"></a>
<a id="tocsitem"></a>

```json
{
  "active": true,
  "is_training_data": true,
  "user_assessment": {
    "result": "string",
    "annotations": [
      {
        "y_min": 0,
        "x_max": 0,
        "y_max": 0,
        "label": 0,
        "defect_size": 0,
        "created_at": "2022-02-04T16:50:28Z",
        "x_min": 0,
        "annotation_id": 0,
        "notes": "string"
      }
    ],
    "label": "string",
    "images": [
      {
        "url": "string",
        "width": 0,
        "file_size": 0,
        "height": 0,
        "name": "string"
      }
    ]
  },
  "images": [
    {
      "url": "string",
      "width": 0,
      "file_size": 0,
      "height": 0,
      "name": "string"
    }
  ],
  "item_id": "string",
  "assessments": [
    {
      "annotations": [
        {
          "y_min": 0,
          "x_max": 0,
          "y_max": 0,
          "label": 0,
          "defect_size": 0,
          "created_at": "2022-02-04T16:50:28Z",
          "x_min": 0,
          "annotation_id": 0,
          "notes": "string"
        }
      ],
      "label": "string",
      "images": [
        {
          "url": "string",
          "width": 0,
          "file_size": 0,
          "height": 0,
          "name": "string"
        }
      ],
      "anomaly_score": "string",
      "model_id": "string",
      "detected_objects": 0,
      "detection_accuracy": 0,
      "result": "string"
    }
  ],
  "status": "string",
  "name": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|active|boolean|false|none|none|
|is_training_data|boolean|false|none|none|
|user_assessment|[AssessmentItem](#schemaassessmentitem)|false|none|none|
|images|[[ItemImageMeta](#schemaitemimagemeta)]|false|none|none|
|item_id|string|false|none|none|
|assessments|[[AssessmentItem1](#schemaassessmentitem1)]|false|none|none|
|status|string|false|none|none|
|name|string|false|none|none|

<h2 id="tocS_GetItemsResponse">GetItemsResponse</h2>
<!-- backwards compatibility -->
<a id="schemagetitemsresponse"></a>
<a id="schema_GetItemsResponse"></a>
<a id="tocSgetitemsresponse"></a>
<a id="tocsgetitemsresponse"></a>

```json
{
  "end_page": 0,
  "current_page": 0,
  "count_per_page": 0,
  "items": [
    {
      "active": true,
      "is_training_data": true,
      "user_assessment": {
        "result": "string",
        "annotations": [
          {
            "y_min": 0,
            "x_max": 0,
            "y_max": 0,
            "label": 0,
            "defect_size": 0,
            "created_at": "2022-02-04T16:50:28Z",
            "x_min": 0,
            "annotation_id": 0,
            "notes": "string"
          }
        ],
        "label": "string",
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ]
      },
      "images": [
        {
          "url": "string",
          "width": 0,
          "file_size": 0,
          "height": 0,
          "name": "string"
        }
      ],
      "item_id": "string",
      "assessments": [
        {
          "annotations": [
            {
              "y_min": 0,
              "x_max": 0,
              "y_max": 0,
              "label": 0,
              "defect_size": 0,
              "created_at": "2022-02-04T16:50:28Z",
              "x_min": 0,
              "annotation_id": 0,
              "notes": "string"
            }
          ],
          "label": "string",
          "images": [
            {
              "url": "string",
              "width": 0,
              "file_size": 0,
              "height": 0,
              "name": "string"
            }
          ],
          "anomaly_score": "string",
          "model_id": "string",
          "detected_objects": 0,
          "detection_accuracy": 0,
          "result": "string"
        }
      ],
      "status": "string",
      "name": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|end_page|integer(int32)|false|none|none|
|current_page|integer(int32)|false|none|none|
|count_per_page|integer(int32)|false|none|none|
|items|[[Item](#schemaitem)]|false|none|none|

<h2 id="tocS_GetItemsResponseWrapper">GetItemsResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemagetitemsresponsewrapper"></a>
<a id="schema_GetItemsResponseWrapper"></a>
<a id="tocSgetitemsresponsewrapper"></a>
<a id="tocsgetitemsresponsewrapper"></a>

```json
{
  "data": {
    "end_page": 0,
    "current_page": 0,
    "count_per_page": 0,
    "items": [
      {
        "active": true,
        "is_training_data": true,
        "user_assessment": {
          "result": "string",
          "annotations": [
            {
              "y_min": 0,
              "x_max": 0,
              "y_max": 0,
              "label": 0,
              "defect_size": 0,
              "created_at": "2022-02-04T16:50:28Z",
              "x_min": 0,
              "annotation_id": 0,
              "notes": "string"
            }
          ],
          "label": "string",
          "images": [
            {
              "url": "string",
              "width": 0,
              "file_size": 0,
              "height": 0,
              "name": "string"
            }
          ]
        },
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ],
        "item_id": "string",
        "assessments": [
          {
            "annotations": [
              {
                "y_min": 0,
                "x_max": 0,
                "y_max": 0,
                "label": 0,
                "defect_size": 0,
                "created_at": "2022-02-04T16:50:28Z",
                "x_min": 0,
                "annotation_id": 0,
                "notes": "string"
              }
            ],
            "label": "string",
            "images": [
              {
                "url": "string",
                "width": 0,
                "file_size": 0,
                "height": 0,
                "name": "string"
              }
            ],
            "anomaly_score": "string",
            "model_id": "string",
            "detected_objects": 0,
            "detection_accuracy": 0,
            "result": "string"
          }
        ],
        "status": "string",
        "name": "string"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[GetItemsResponse](#schemagetitemsresponse)|false|none|none|

<h2 id="tocS_PredictionItemCallbackResponse">PredictionItemCallbackResponse</h2>
<!-- backwards compatibility -->
<a id="schemapredictionitemcallbackresponse"></a>
<a id="schema_PredictionItemCallbackResponse"></a>
<a id="tocSpredictionitemcallbackresponse"></a>
<a id="tocspredictionitemcallbackresponse"></a>

```json
{
  "items": [
    {
      "active": true,
      "is_training_data": true,
      "user_assessment": {
        "result": "string",
        "annotations": [
          {
            "y_min": 0,
            "x_max": 0,
            "y_max": 0,
            "label": 0,
            "defect_size": 0,
            "created_at": "2022-02-04T16:50:28Z",
            "x_min": 0,
            "annotation_id": 0,
            "notes": "string"
          }
        ],
        "label": "string",
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ]
      },
      "images": [
        {
          "url": "string",
          "width": 0,
          "file_size": 0,
          "height": 0,
          "name": "string"
        }
      ],
      "item_id": "string",
      "assessments": [
        {
          "annotations": [
            {
              "y_min": 0,
              "x_max": 0,
              "y_max": 0,
              "label": 0,
              "defect_size": 0,
              "created_at": "2022-02-04T16:50:28Z",
              "x_min": 0,
              "annotation_id": 0,
              "notes": "string"
            }
          ],
          "label": "string",
          "images": [
            {
              "url": "string",
              "width": 0,
              "file_size": 0,
              "height": 0,
              "name": "string"
            }
          ],
          "anomaly_score": "string",
          "model_id": "string",
          "detected_objects": 0,
          "detection_accuracy": 0,
          "result": "string"
        }
      ],
      "status": "string",
      "name": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|items|[[Item](#schemaitem)]|false|none|none|

<h2 id="tocS_PredictionItemCallbackWrapper">PredictionItemCallbackWrapper</h2>
<!-- backwards compatibility -->
<a id="schemapredictionitemcallbackwrapper"></a>
<a id="schema_PredictionItemCallbackWrapper"></a>
<a id="tocSpredictionitemcallbackwrapper"></a>
<a id="tocspredictionitemcallbackwrapper"></a>

```json
{
  "data": {
    "items": [
      {
        "active": true,
        "is_training_data": true,
        "user_assessment": {
          "result": "string",
          "annotations": [
            {
              "y_min": 0,
              "x_max": 0,
              "y_max": 0,
              "label": 0,
              "defect_size": 0,
              "created_at": "2022-02-04T16:50:28Z",
              "x_min": 0,
              "annotation_id": 0,
              "notes": "string"
            }
          ],
          "label": "string",
          "images": [
            {
              "url": "string",
              "width": 0,
              "file_size": 0,
              "height": 0,
              "name": "string"
            }
          ]
        },
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ],
        "item_id": "string",
        "assessments": [
          {
            "annotations": [
              {
                "y_min": 0,
                "x_max": 0,
                "y_max": 0,
                "label": 0,
                "defect_size": 0,
                "created_at": "2022-02-04T16:50:28Z",
                "x_min": 0,
                "annotation_id": 0,
                "notes": "string"
              }
            ],
            "label": "string",
            "images": [
              {
                "url": "string",
                "width": 0,
                "file_size": 0,
                "height": 0,
                "name": "string"
              }
            ],
            "anomaly_score": "string",
            "model_id": "string",
            "detected_objects": 0,
            "detection_accuracy": 0,
            "result": "string"
          }
        ],
        "status": "string",
        "name": "string"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[PredictionItemCallbackResponse](#schemapredictionitemcallbackresponse)|false|none|none|

<h2 id="tocS_AddItemRequest">AddItemRequest</h2>
<!-- backwards compatibility -->
<a id="schemaadditemrequest"></a>
<a id="schema_AddItemRequest"></a>
<a id="tocSadditemrequest"></a>
<a id="tocsadditemrequest"></a>

```json
{
  "files": [
    "string"
  ],
  "training": true,
  "good": true,
  "model_id": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|files|[string]|false|none|none|
|training|boolean|true|none|none|
|good|boolean|false|none|none|
|model_id|string|false|none|none|

<h2 id="tocS_AddItemResponse">AddItemResponse</h2>
<!-- backwards compatibility -->
<a id="schemaadditemresponse"></a>
<a id="schema_AddItemResponse"></a>
<a id="tocSadditemresponse"></a>
<a id="tocsadditemresponse"></a>

```json
{
  "item_ids": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|item_ids|[string]|false|none|none|

<h2 id="tocS_AddItemResponseWrapper">AddItemResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemaadditemresponsewrapper"></a>
<a id="schema_AddItemResponseWrapper"></a>
<a id="tocSadditemresponsewrapper"></a>
<a id="tocsadditemresponsewrapper"></a>

```json
{
  "data": {
    "item_ids": [
      "string"
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[AddItemResponse](#schemaadditemresponse)|false|none|none|

<h2 id="tocS_DelItemRequest">DelItemRequest</h2>
<!-- backwards compatibility -->
<a id="schemadelitemrequest"></a>
<a id="schema_DelItemRequest"></a>
<a id="tocSdelitemrequest"></a>
<a id="tocsdelitemrequest"></a>

```json
{
  "item_ids": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|item_ids|[string]|false|none|none|

<h2 id="tocS_ItemWrapper">ItemWrapper</h2>
<!-- backwards compatibility -->
<a id="schemaitemwrapper"></a>
<a id="schema_ItemWrapper"></a>
<a id="tocSitemwrapper"></a>
<a id="tocsitemwrapper"></a>

```json
{
  "data": {
    "active": true,
    "is_training_data": true,
    "user_assessment": {
      "result": "string",
      "annotations": [
        {
          "y_min": 0,
          "x_max": 0,
          "y_max": 0,
          "label": 0,
          "defect_size": 0,
          "created_at": "2022-02-04T16:50:28Z",
          "x_min": 0,
          "annotation_id": 0,
          "notes": "string"
        }
      ],
      "label": "string",
      "images": [
        {
          "url": "string",
          "width": 0,
          "file_size": 0,
          "height": 0,
          "name": "string"
        }
      ]
    },
    "images": [
      {
        "url": "string",
        "width": 0,
        "file_size": 0,
        "height": 0,
        "name": "string"
      }
    ],
    "item_id": "string",
    "assessments": [
      {
        "annotations": [
          {
            "y_min": 0,
            "x_max": 0,
            "y_max": 0,
            "label": 0,
            "defect_size": 0,
            "created_at": "2022-02-04T16:50:28Z",
            "x_min": 0,
            "annotation_id": 0,
            "notes": "string"
          }
        ],
        "label": "string",
        "images": [
          {
            "url": "string",
            "width": 0,
            "file_size": 0,
            "height": 0,
            "name": "string"
          }
        ],
        "anomaly_score": "string",
        "model_id": "string",
        "detected_objects": 0,
        "detection_accuracy": 0,
        "result": "string"
      }
    ],
    "status": "string",
    "name": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[Item](#schemaitem)|false|none|none|

<h2 id="tocS_RequestAnnotation">RequestAnnotation</h2>
<!-- backwards compatibility -->
<a id="schemarequestannotation"></a>
<a id="schema_RequestAnnotation"></a>
<a id="tocSrequestannotation"></a>
<a id="tocsrequestannotation"></a>

```json
{
  "x_max": 0,
  "x_min": 0,
  "y_max": 0,
  "y_min": 0,
  "label": 0,
  "notes": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|x_max|integer(int32)¦null|false|none|none|
|x_min|integer(int32)¦null|false|none|none|
|y_max|integer(int32)¦null|false|none|none|
|y_min|integer(int32)¦null|false|none|none|
|label|integer(int32)¦null|false|none|none|
|notes|string|false|none|none|

<h2 id="tocS_AnnotateItemRequest">AnnotateItemRequest</h2>
<!-- backwards compatibility -->
<a id="schemaannotateitemrequest"></a>
<a id="schema_AnnotateItemRequest"></a>
<a id="tocSannotateitemrequest"></a>
<a id="tocsannotateitemrequest"></a>

```json
{
  "annotations": [
    {
      "x_max": 0,
      "x_min": 0,
      "y_max": 0,
      "y_min": 0,
      "label": 0,
      "notes": "string"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|annotations|[[RequestAnnotation](#schemarequestannotation)]|false|none|none|

<h2 id="tocS_License">License</h2>
<!-- backwards compatibility -->
<a id="schemalicense"></a>
<a id="schema_License"></a>
<a id="tocSlicense"></a>
<a id="tocslicense"></a>

```json
{
  "license_data": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|license_data|string(binary)|false|none|none|

<h2 id="tocS_LicenseResponse">LicenseResponse</h2>
<!-- backwards compatibility -->
<a id="schemalicenseresponse"></a>
<a id="schema_LicenseResponse"></a>
<a id="tocSlicenseresponse"></a>
<a id="tocslicenseresponse"></a>

```json
{
  "license_expiry": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|license_expiry|string|false|none|none|

<h2 id="tocS_LicenseResponseWrapper">LicenseResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemalicenseresponsewrapper"></a>
<a id="schema_LicenseResponseWrapper"></a>
<a id="tocSlicenseresponsewrapper"></a>
<a id="tocslicenseresponsewrapper"></a>

```json
{
  "data": {
    "license_expiry": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[LicenseResponse](#schemalicenseresponse)|false|none|none|

<h2 id="tocS_LicenseHashResponse">LicenseHashResponse</h2>
<!-- backwards compatibility -->
<a id="schemalicensehashresponse"></a>
<a id="schema_LicenseHashResponse"></a>
<a id="tocSlicensehashresponse"></a>
<a id="tocslicensehashresponse"></a>

```json
{
  "hash_id": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|hash_id|string|false|none|none|

<h2 id="tocS_LicenseHashResponseWrapper">LicenseHashResponseWrapper</h2>
<!-- backwards compatibility -->
<a id="schemalicensehashresponsewrapper"></a>
<a id="schema_LicenseHashResponseWrapper"></a>
<a id="tocSlicensehashresponsewrapper"></a>
<a id="tocslicensehashresponsewrapper"></a>

```json
{
  "data": {
    "hash_id": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[LicenseHashResponse](#schemalicensehashresponse)|false|none|none|

<%= partial "includes/addons.html.md.erb" %>
